.calculadora{
    background: rgb(95, 95, 245);
    width: 200px;
    padding: 20px;
}

#btnCalc {
    background: rgb(111, 111, 228);
    color: white;
    margin: 20px;
    padding: 5px;
}

#btnCalc:hover{
    background: rgb(108, 108, 233);
    color: rgb(12, 12, 12);
    cursor: pointer;

}
#total {
    padding: 10px;
    margin: 5px;
    background: rgb(45, 45, 231);
    color: white;
}

